---
import picture from "../../public/assets/me.jpg";
import { recentTech } from "../content/projects.json";
---

<section
  id="about"
  class="flex w-full flex-col items-center gap-20 text-center md:items-start md:text-left"
>
  <h1 class="font-section text-4xl md:text-5xl" data-aos="fade-up">About Me</h1>
  <div
    class="flex flex-col items-center gap-20 md:flex-row md:items-start md:gap-64"
  >
    <div class="order-2 flex w-full flex-col gap-8 md:order-1 md:w-1/2">
      <p class="font-medium md:text-lg" data-aos="fade-up">
        I’m 18 y.o Ukrainian, currently in London, UK. Fast learner, passionate
        about making smooth, well-architectured web apps, and have experience
        building full-stack applications (React + Node.js). To discover more -
        see my projects. Outside web dev, I enjoy weightlifting and hiking or
        biking in nature.
      </p>
      <div class="flex flex-col gap-6" data-aos="fade-up">
        <p class="font-medium md:text-lg">
          Here are a few technologies I’ve been working with recently:
        </p>
        <ul
          class="flex h-32 list-inside list-disc flex-col flex-wrap gap-1 text-left marker:text-secondary md:h-20 md:max-w-fit"
        >
          {
            recentTech.map((el) => (
              <li class="mr-2 text-sm md:mr-8 md:text-base">{el}</li>
            ))
          }
        </ul>
      </div>
    </div>

    <img
      alt="avatar"
      src={picture}
      data-aos="fade-up"
      class="order-1 h-52 w-52 rounded-full border-[14px] border-secondary object-cover drop-shadow-2xl hover:drop-shadow-xl md:order-2"
    />
  </div>
</section>
<script>
  import "aos/dist/aos.css";
  import AOS from "aos";
  AOS.init({ duration: 1000, offset: 0, easing: "ease-out-sine", once: false });
</script>
