---
import picture from "../../public/assets/me.jpg";
---

<section class="flex flex-col w-full gap-20">
  <h1 class="font-section text-5xl">About Me</h1>
  <div class="flex justify-between">
    <p class="font-medium w-1/2">
      I’m 18 y.o Ukrainian, currently in London, UK. Looking for my first job in
      tech. Fast learner, passionate about making smooth, well-architectured web
      apps, have experience making full-stack applications (react + node.js), to
      discover more - see my projects. Apart from web-dev, I enjoy
      weight-lifting and hiking or biking in nature.
    </p>

    <img
      src={picture}
      class="drop-shadow-2xl object-cover w-52 h-52 rounded-full border-[14px] border-secondary"
    />
  </div>
</section>
