---
import { ContactForm } from "./ContactForm";
---

<section
  id="contact"
  class="flex flex-col w-full gap-20 md:items-start items-center"
>
  <h1 class="font-section text-4xl md:text-5xl">Contact</h1>
  <ContactForm client:visible />
</section>
