---
import { ContactForm } from "./ContactForm";
---

<!-- action="https://getform.io/f/d384645e-fbbd-4511-bc35-a8f6094793bd"
method="POST" -->
<section id="contact" class="flex flex-col w-full gap-20">
  <h1 class="font-section text-5xl">Contact</h1>
  <ContactForm client:visible />
</section>
