---
import { ContactForm } from "./ContactForm";

const onSubmit = (e: any) => {
  console.log("FORM");
};
---

<section class="flex flex-col w-full gap-20">
  <h1 class="font-section text-5xl">Contact</h1>
  <ContactForm />
</section>
