---
import { ContactForm } from "./ContactForm";

const onSubmit = (e: any) => {
  console.log("FORM");
};
---

<!-- action="https://getform.io/f/d384645e-fbbd-4511-bc35-a8f6094793bd"
method="POST" -->
<section class="flex flex-col w-full gap-20">
  <h1 class="font-section text-5xl">Contact</h1>
  <!-- <ContactForm client:visible/> -->
  <form
    netlify
    netlify-honeypot
    class="flex w-1/2 flex-col gap-8"
    name="contact"
  >
    <input type="hidden" name="form-name" value="feedback" />
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <div class="relative w-full">
      <input
        type="text"
        name="name"
        placeholder="Name"
        id="name"
        required
        class="placeholder-transparent outline-none rounded-lg border-none w-full focus:ring-0 peer bg-primary-glass/70"
      />
      <label
        for="username"
        class="absolute left-3 -top-5 text-sm transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-focus:-top-5 peer-focus:text-sm"
      >
        Name
      </label>
    </div>
    <div class="relative w-full">
      <input
        type="email"
        name="email"
        required
        placeholder="Email"
        id="email"
        class="placeholder-transparent outline-none rounded-lg border-none w-full focus:ring-0 peer bg-primary-glass/70"
      />
      <label
        for="username"
        class="absolute left-3 -top-5 text-sm transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-focus:-top-5 peer-focus:text-sm"
      >
        Email
      </label>
    </div>
    <div class="relative w-full">
      <textarea
        name="message"
        id="message"
        placeholder="Message"
        rows={10}
        required
        class="w-full bg-primary-glass/70 border-none outline-none rounded-lg focus:outline-none placeholder-transparent peer"
      ></textarea>
      <label
        for="message"
        class="absolute left-3 -top-5 text-sm transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-focus:-top-5 peer-focus:text-sm"
      >
        Message
      </label>
    </div>

    <button
      class="px-4 py-2 text-primary bg-secondary font-medium text-xl rounded-xl"
      type="submit"
    >
      Submit
    </button>
  </form>
</section>
