---
import GithubIcon from "../../public/assets/GithubIcon";
import LinkedInIcon from "../../public/assets/LinkedinIcon";
---

<footer
  class="w-full h-16 flex justify-center items-center bg-primary gap-2 mt-28"
>
  <div class="flex gap-1">
    <a href={"#"} class="group">
      <GithubIcon
        class="stroke-[1.75] w-7 h-7 group-hover:stroke-secondary hover:stroke-secondary"
      />
    </a>
    <a href={"#"} class="group">
      <LinkedInIcon
        class="w-7 h-7 group-hover:fill-secondary hover:fill-secondary"
      />
    </a>
  </div>
  <h2 class="text-white">Designed & Built by Andrii Solonets</h2>
</footer>
