---
import funPic from "../../public/assets/funPic.svg";
import arrow from "../../public/assets/arrow.png";
import arrowMobile from "../../public/assets/arrowMobile.png";
---

<section
  class="flex flex-col w-full md:items-start items-center md:gap-0 gap-16"
>
  <div id="typewriter" class="md:text-left text-center md:min-h-[144px]"></div>
  <div class="self-end relative">
    <div
      class="md:flex hidden absolute md:-left-28 md:top-64 animate-waving-arrow"
    >
      <img src={arrow} class="w-32" alt="arrow" />
    </div>
    <div class="md:hidden flex absolute -top-8 left-8 animate-waving-arrow">
      <img src={arrowMobile} alt="mobileArrow" />
    </div>
    <div class="w-fit md:min-w-[700px] md:min-h-[500px]">
      <img
        src={funPic}
        alt="mainPicture"
        id="mainPic"
        class="w-[700px]"
        data-tilt
        data-tilt-reverse="true"
        data-tilt-max="12"
        data-tilt-speed="3000"
      />
    </div>
  </div>
</section>

<script>
  import Typewriter from "typewriter-effect/dist/core";
  import VanillaTilt from "vanilla-tilt";

  const selectedImg = document.getElementById("#mainPic");
  VanillaTilt.init(selectedImg as HTMLImageElement);

  const typewriter = new Typewriter("#typewriter", {
    autoStart: true,
    loop: true,
    wrapperClassName: "font-section text-4xl md:text-5xl md:leading-normal ",
    cursorClassName: "text-4xl md:text-5xl",
  });

  typewriter
    .typeString("Hi, I’m <span class='text-secondary'>Andrii Solonets</span>")
    .pauseFor(1000)
    .deleteChars(15)
    .typeString(" a Full-Stack developer")
    .pauseFor(2500)
    .start();

  // typewriter.typeString(" - a Full-Stack developer").pauseFor(2500).start();
</script>
