---
import funPic from "../../public/assets/funPic.svg";
import arrow from "../../public/assets/arrow.png";
import arrowMobile from "../../public/assets/arrowMobile.png";
---

<section
  class="flex flex-col w-full md:items-start items-center md:gap-0 gap-16"
>
  <h1
    class="font-section text-4xl md:text-5xl md:w-[29rem] md:text-left text-center"
  >
    Hi, I’m <span class="text-secondary">Andrii Solonets</span> - a Full-Stack developer
  </h1>
  <div class="self-end relative">
    <div class="md:flex hidden absolute md:-left-28 md:top-64">
      <img src={arrow} class="w-32" />
    </div>
    <div class="md:hidden flex absolute -top-8 left-8">
      <img src={arrowMobile} class="" />
    </div>

    <img src={funPic} class="w-[700px]" />
  </div>
</section>
