---
import funPicture from "../assets/funPic.svg";
import { Image } from "astro:assets";
---

<section
  class="flex w-full flex-col items-center gap-24 md:items-start md:gap-0"
>
  <div
    id="typewriter"
    class="text-center md:min-h-[144px] md:text-left min-h-[80px]"
  >
  </div>
  <div class="relative self-end">
    <div
      class="absolute hidden animate-waving-arrow md:-left-28 md:top-52 lg:top-64 md:flex 2xl:top-96"
    >
      <img src="/assets/arrow.png" class="w-32" alt="arrow" />
    </div>
    <div class="absolute -top-16 left-8 flex animate-waving-arrow md:hidden">
      <img src="/assets/arrowMobile.png" alt="mobileArrow" />
    </div>
    <div
      class="w-fit lg:min-h-[500px] md:min-w-[600px] md:min-h-[400px] lg:min-w-[700px] min-h-[300px] 2xl:w-[1000px]"
    >
      <Image
        src={funPicture}
        alt="funPicture"
        class="md:w-[600px] lg:w-[700px] 2xl:w-[1000px]"
        id="funPic"
        decoding="async"
        loading="lazy"
        data-tilt
        data-tilt-reverse="true"
        data-tilt-max="12"
        data-tilt-speed="3000"
      />
    </div>
  </div>
</section>

<script>
  import Typewriter from "typewriter-effect/dist/core";
  import VanillaTilt from "vanilla-tilt";

  const selectedImg = document.getElementById("#funPic");
  VanillaTilt.init(selectedImg as HTMLImageElement);

  const typewriter = new Typewriter("#typewriter", {
    autoStart: true,
    loop: true,
    wrapperClassName: "font-section text-4xl md:text-5xl md:leading-normal ",
    cursorClassName: "text-4xl md:text-5xl",
  });

  typewriter
    .typeString("Hi, I’m <span class='text-secondary'>Andrii Solonets</span>")
    .pauseFor(1000)
    .deleteChars(15)
    .typeString(" a Full-Stack developer")
    .pauseFor(2500)
    .start();

  // typewriter.typeString(" - a Full-Stack developer").pauseFor(2500).start();
</script>
