---
---

<header
  class="flex justify-between py-3 drop-shadow-header bg-primary-glass/70 px-10"
>
  <h3>Andrii S.</h3>
  <nav class="w-1/3">
    <ul class="flex justify-around font-heading text-bold">
      <li><a href="#">Projects</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
