---
import console from "console";
import ProjectCard from "./ProjectCard.astro";
import { getCollection } from "astro:content";

const posts = Object.values(import.meta.glob('../content/projects/*.md', { eager: true }));
const allProjects = await getCollection('projects');
const sortedProjects = allProjects.sort((a, b) => a.data.index - b.data.index);

---

<section
  id="projects"
  class="flex w-full flex-col items-center gap-24 md:gap-48 pb-6 md:items-start"
>
  <h1 class="font-section text-4xl md:text-5xl md:text-left text-center">
    Take a Look At <span class="text-secondary">My Projects</span>
  </h1>
  <div
    class="flex flex-col items-center justify-center gap-24 md:gap-64 md:text-lg"
  >
    {
      sortedProjects?.filter(el => el?.data?.image)?.map((el,i) => {
      
        return (
          <div data-aos={`fade-up`}>
            <ProjectCard
             project={el}
             position={i%2 ?"right" :"left"}
            />
          </div>
        );
      })
    }
  </div>
</section>
<script>
  import "aos/dist/aos.css";
  import AOS from "aos";
  AOS.init({
    duration: 1000,
    offset: 100,
    once: false,
    easing: "ease-out-sine",
  });
</script>
