---
import GithubIcon from "../../public/assets/GithubIcon";
import LinkedInIcon from "../../public/assets/LinkedinIcon";
---

<div>
  <div class="fixed left-0 px-5 bottom-0 hidden lg:flex">
    <ul class="flex flex-col gap-4 items-center">
      <li>
        <a
          href="https://github.com/andrewsolonets"
          class="group"
          target="_blank"
        >
          <GithubIcon
            class="stroke-[1.75] stroke-secondary transition duration-300 hover:-translate-y-1 ease-out w-7 h-7 group-hover:stroke-white hover:stroke-white"
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/andrii-solonets/"
          class="group"
          target="_blank"
        >
          <LinkedInIcon
            class="w-7 h-7 fill-secondary group-hover:fill-white hover:fill-white transition duration-300 hover:-translate-y-1 ease-out"
          />
        </a>
      </li>
      <li class="border-l-2 border-secondary h-[150px]"></li>
    </ul>
  </div>
</div>
