---
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import { getEntry } from "astro:content";

const { id } = Astro.params;
const entry = await getEntry("projects", id ?? "");

if (!entry) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <div class="md:px-10 lg:px-20 2xl:px-48">
    <div class="rounded-md md:p-12 p-6 bg-primary-700">
      <Prose>
        <Content />
      </Prose>
    </div>
  </div>
</Layout>
